filter(root="/content/test")
  exclude(pattern="/content/test(/.*)?/qa(/.*)?")
filter(root="/content/dam/test")
  exclude(pattern="/content/dam/test(/.*)?/renditions(/.*)?")
  include(pattern="/content/dam/test(/.*)?/renditions/original")
  exclude(pattern="/content/dam/test(/.*)?/qa(/.*)?")
