name: Main

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'
  schedule:
    - cron: "15 15 * * 4"  # At 15:15 on Thursday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zulu/Azul JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version-file: '.java-version'
          cache: 'maven'
      - name: Build with integration tests
        run: 'mvn --batch-mode --no-transfer-progress clean verify -Prun-its  -Dversions.check.phase=none'
      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Unit Tests
          path: target/surefire-reports/TEST-*.xml
          reporter: java-junit
