name: Sonar Scanner

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    #    - cron: '07 07 * * *'
    #    - cron: '*/10 * * * *'
    - cron: '13 15 */3 * *'
  push:
    branches:
      - '*'

jobs:
  sonar-scanner:
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"
    steps:
      - name: Info
        run: 'echo "Running Sonar scanner on branch: ${{ inputs.currentBranchName }}"'
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zulu/Azul JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version-file: '.java-version'
          cache: 'maven'
      - name: Check env variable
        run: >
          if [[ -z "${SONAR_TOKEN}" ]]; then
            echo "[FAILURE] Missing SONAR_TOKEN env variable"
          else
            echo "[SUCCESS] SONAR_TOKEN env variable exists"
          fi
      - name: Run build with test coverage
        run: mvn clean package -Pwith-coverage,run-its
        # since we have Sonar plugin in pom we can use short version instead of
        # run: mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      - name: Run Sonar analysis
        run: mvn sonar:sonar
